/* -------------- Подключаем шрифты ----------- */
@font-face {
	font-family: "Open Sans";
	src: local("OpenSans-Bold"),
		  url("../fonts/OpenSans-Bold.woff"),
		  url("../fonts/OpenSans-Bold.woff2"),
		  url("../fonts/OpenSans-Bold.ttf");
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: "Open Sans";
	src: local("OpenSans-Regular"),
		  url("../fonts/OpenSans-Regular.woff"),
		  url("../fonts/OpenSans-Regular.woff2"),
		  url("../fonts/OpenSans-Regular.ttf");
	font-weight: 400;
	font-display: swap;
}
/** --------- Обнуление стилей ------------------------------------------------------------------------------------*/
/** Чтобы не нагружать браузер юзера используя сброс через "*", сбросим стили через Normalize ---
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
 html {
	height: 100%;
	
	line-height: 1; 
	-webkit-text-size-adjust: 100%; /* 2 */
 }
  /* Sections================================================ */
	 /* Remove the margin in all browsers.*/
 body {
	height: 100%;
	margin: 0;
 }
 /* Render the `main` element consistently in IE.*/
  main {
	display: block;
 }
  /**
 /* Grouping content===== */
  /**
  * 1. Add the correct box sizing in Firefox.
  * 2. Show the overflow in Edge and IE.
  */
 hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
 }
  /**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */
 pre {
	font-family: monospace; /* 1 */
	font-size: 1em; /* 2 */
 }
  /* Text-level semantics ============================== */
  /* Remove the gray background on active links in IE 10 */
  a {
	background-color: transparent;
  text-decoration: none;
 }
/**
  * 1. Remove the bottom border in Chrome 57-
  * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
  */
  abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
 }
  /* Add the correct font weight in Chrome, Edge, and Safari. */
 b,strong {
	font-weight: bolder;
 }
 /**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */
 code,kbd,samp {
	font-family: monospace; /* 1 */
	font-size: 1em; /* 2 */
 }
 /* Add the correct font size in all browsers. */
  small {
	font-size: 80%;
 }
  /**
  * Prevent `sub` and `sup` elements from affecting the line height in
  * all browsers. */
 sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
 }
 sub {
	bottom: -0.25em;
 }
 sup {
	top: -0.5em;
 }
  /* Embedded content ========================================================================== */
  /* Remove the border on images inside links in IE 10. */
  img {
	border-style: none;
 }
  /* Forms	 ========================================================================== */
  /*
  * 1. Change the font styles in all browsers.
  * 2. Remove the margin in Firefox and Safari.
  */
 button, input, optgroup, select, textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1; /* 1 */
	margin: 0; /* 2 */
 }
 /**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */
 button, input { /* 1 */
	overflow: visible;
 }
 /**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */
 button, select { /* 1 */
	text-transform: none;
 }
 select {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
}
  /* Correct the inability to style clickable types in iOS and Safari. */
 button,
 [type="button"],
 [type="reset"],
 [type="submit"] {
	-webkit-appearance: button;
 }
  /* Remove the inner border and padding in Firefox. */
 button::-moz-focus-inner,
 [type="button"]::-moz-focus-inner,
 [type="reset"]::-moz-focus-inner,
 [type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
 }
  /*Restore the focus styles unset by the previous rule. */
 button:-moz-focusring,
 [type="button"]:-moz-focusring,
 [type="reset"]:-moz-focusring,
 [type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
 }
 /* Correct the padding in Firefox. */
  fieldset {
	padding: 0.35em 0.75em 0.625em;
 }
  /**
  * 1. Correct the text wrapping in Edge and IE.
  * 2. Correct the color inheritance from `fieldset` elements in IE.
  * 3. Remove the padding so developers are not caught out when they zero out
  *    `fieldset` elements in all browsers.
  */
  legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
 }
 /* Add the correct vertical alignment in Chrome, Firefox, and Opera. */
  progress {
	vertical-align: baseline;
 }
/* Remove the default vertical scrollbar in IE 10+. */
  textarea {
	overflow: auto;
 }
 /**
  * 1. Add the correct box sizing in IE 10.
  * 2. Remove the padding in IE 10.
  */
 [type="checkbox"],[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
 }
  /* Correct the cursor style of increment and decrement buttons in Chrome.*/
 [type="number"]::-webkit-inner-spin-button,
 [type="number"]::-webkit-outer-spin-button {
	height: auto;
 }
 /**
  * 1. Correct the odd appearance in Chrome and Safari.
  * 2. Correct the outline style in Safari.
  */
 [type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: 0; /* 2 */
 }
 /* Remove the inner padding in Chrome and Safari on macOS.*/
  [type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
 }
 /**
  * 1. Correct the inability to style clickable types in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */
 ::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
 }
 /* Interactive	 ========================================================================== */
 
 /* Add the correct display in Edge, IE 10+, and Firefox.*/
  details {
	display: block;
 }
  /* Add the correct display in all browsers. */
 summary {
	display: list-item;
 }
 /* Misc	 ========================================================================== */
  /* Add the correct display in IE 10+.*/
 template {
	display: none;
 }
 /* Add the correct display in IE 10.*/
 [hidden] {
	display: none;
 }
 /*? -------------------------------------------------------------*/
 h1,h2,h3,h4 {
	margin: 0;
 }
 a, a:visited {
	color: inherit;
 }
 ul, p {
	margin: 0;
	padding: 0;
 }
  /*? ------------------------------------------------------------?*/
/** -------------- Обнуление стилей - Конец --------------------------------------------------------*/

/**========================= Mobile first ============================================*/
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;	
}
/* ! ----------------------- HEADER Начало ---------------------------------------- */
.header {
	padding: 30px 15px 217px 15px;
/* -----------------------Вставим баннер--------------------------------------- */
	background-image: url("../images/banner-mobile.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
/*  далее добавляем подложку под изображение */
	background-color: #000000; 
	z-index: 0;
	position: relative;
 }
/* ------------Затемняем фон у баннера, прозрачность как в макете-------------- */
 .header::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000; 
	opacity: 0.6;
	z-index: -1;
 }
 /* ----- ВЕРХНЮЮ ЧАСТЬ ХЕДЕРА ДЕЛАЕМ ФЛЕКСОМ И ВЫРАВНИВАЕМ ЭЛЕМЕНТЫ --- */
 .header-top {
	display: flex;
	flex-direction: column;
}
.menu {
	align-self: end;
}
.logo-image-link {
	align-self: center;
}
/* --------------------------------------------------------------------- */
/* ---------------- ВЕРСТКА МЕНЮ-БУРГЕР ----Начало--------------------- */
.menu-list {
	display: none;
}
.menu-burger {
	width: 1.5em;
	height: 1em;
	border: none;
	padding: 0;
	background-color: transparent;
	font-size: 16px;
	position: relative;
	text-indent: -9999px;
	cursor: pointer;
}
.menu-burger::before, 
.menu-burger::after {
	content: "";
	width: 100%;
	height: 20%;
	border-radius: 5px;
	background-color: #ffffff;
	position: absolute;
	left: 0;
}
.menu-burger::after {
	bottom: 0;
}
.menu-burger::before {
	top: 0;
}
.menu-burger-label {
	width: 100%;
	height: 20%;
	margin-top: -0.1em;
	border-radius: 5px;
	background-color: #ffffff;
	position: absolute;
	left: 0;
	top: 50%;
}
/* ---------------- ВЕРСТКА МЕНЮ-БУРГЕР ----КОНЕЦ--------------------- */

/*  ------------------- ЛОГОТИП И ЗАГОЛОВОК --НАЧАЛО------------------ */
.logo-image {
	width: 269px;
	margin: 184px auto 44px auto;
 }
 .header-title {
	text-align: center; 
	line-height: 1.385;

	color: #fff;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 700;
	font-size: 26px;
	text-transform: uppercase;
}
/*  ------------------- ЛОГОТИП И ЗАГОЛОВОК --КОНЕЦ------------------ */

/* ! -------------------- HEADER Конец ----------------------------------------- */

/* ! ----------------- СЕКЦИЯ "СЕЙЧАС В ТРЕНДЕ" ------НАЧАЛО----------------------------- */

.trending-title {
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 40px;
}
.trending-title::after {
	content: "";
	display: block;
	width: 66px;
	height: 4px;
	margin: 9px auto 24px auto;
	background-color: rgba(225,217,189,0.4);
}

.trending-card {
	display: flex;
	flex-direction: column;
	justify-content: end; 
	min-height: 230px;
	padding: 15px 15px; 
	margin-bottom: 3px;
	
	z-index: 0;
	position: relative;
}
.trending-card::before {
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.6;
	z-index: -1;
	position: absolute;
}
.trending-card:last-child {
	margin-bottom: 0;
}
.card-garden {
	background-image: url("../images/trend1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #000000;
}
.card-cheese {
	background-image: url("../images/trend2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #000000;
}
.card-travel {
	background-image: url("../images/trend3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #000000;
}
.card-lemon {
	background-image: url("../images/trend4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #000000;
}

.trending-card-block {
	border: 3px solid rgba(181,159,91,0.6);
	padding: 32px 30px 30px 20px;
	
}
.trending-tags-item {
	display: inline-block;
	color: #b59f5b;
	margin: 0 20px 0 0;
}
.trending-tags-item:last-child {
	margin: 0;
}
.trending-tags-link {
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 700;
	font-size: 14px;
	
	text-transform: uppercase;
	
	letter-spacing: normal;
}

.trending-tags-list {
	margin-bottom: 12px;
}
.trending-tags-link:hover {
	text-decoration: underline;
	color: #b59f5b;
}
.trending-card-title {
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.25;
	text-transform: uppercase;
	color: white;
}
.trending-card-title:hover {
	color: #b59f5b;
}

/* ------------------ LANDSCAPE режим на мобильных ------------------------------- */
@media (orientation: landscape)  {

	.trending {
		display: flex;
		flex-wrap: wrap;
		gap: 3px;
	}
	.trending-title {
		width: 100%;
	}
	.trending-card {
		box-sizing: border-box;
		width: calc(50% - 3px/2);
		margin-bottom: 0;
	}
}

/** .......................POPUP-Mobile....НАЧАЛО.....POPUP-Mobile............................. */

.popup {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Open Sans", Helvetica, sans-serif;
	z-index: 9999;
}
.popup-content {
	background-color: white;	
	box-sizing: border-box;
	padding: 30px 25px 30px 25px;
	position: relative;
}
.popup-title {
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
}
.popup-title::after {
	content: "";
	display: block;
	width: 66px;
	height: 4px;
	margin: 10px auto 30px auto;
	background-color: rgba(225,217,189,0.4);
}
.popup-close {
	position: absolute;
	background-color: transparent;
	border: none;
	width: 30px;
	height: 30px;
	right: -4px;
	top: -29px;
	cursor: pointer;
}
.popup-close-svg:hover {
	fill-opacity: 0.8;
}
.popup-form {
	font-family: inherit;
	font-weight: 400;
	font-size: 13px;
}
.popup-select {
	display: block;
	
	color:rgba(0, 0, 0, 0.54);
	padding: 18px 110px 18px 20px;
	margin-bottom: 33px;
	background-color: #f4f7f6;
	background-image: url("../svg/form-arrows.svg");
	background-position: 95% center;
	background-repeat: no-repeat;
	background-size: 10px;
}
.popup-select:focus {
	outline: 1px solid #b59f5b;
	outline-offset: 0;
}
.select-hint, .radio-hint, .input-hint {
	display: block;
	margin-bottom: 9px;
}
.radio-group-text::before {
	content: "";
	display: inline-block;

	width: 25px;
	height: 25px;

	background-image: url("../svg/form-empty-circle.svg");
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: center;

	vertical-align: middle;
	margin-right: 5px;
}
.radio-group-input {
	display: none;
}

.radio-group-input:checked + .radio-group-text::before {
	background-image: url("../svg/form-circle.svg");
}

.radio-group:nth-of-type(1) {
	margin-right: 33px;
}
.popup-radio {
	margin-bottom: 32px;
}
.popup-textarea {
	
	color:rgba(0, 0, 0, 0.54);
	border: none;
	background-color: #f4f7f6;
	resize: none;
	box-sizing: border-box;
	/* width: 280px; */
	height: 130px;
	padding: 20px;
	margin-bottom: 25px;
}

.popup-textarea:focus {
	outline: 1px solid #b59f5b;
	outline-offset: 0;
}
.input-hint {
	max-width: 280px;
	line-height: 1.25;
}
.popup-button {
	font-family: inherit;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	color: white;
	background-color: #b59f5b;
	border-style: none;
	padding: 19px 0;
}
.popup-button:hover {
	background-color: black;
	cursor: pointer;
}
.popup-form {
	display: flex;
	flex-direction: column;
}
/** .......................POPUP-Mobile.....КОНЕЦ.....POPUP-Mobile............................. */


 /* ! ----------------- СЕКЦИЯ "СЕЙЧАС В ТРЕНДЕ" ------КОНЕЦ----------------------------- */

/* ! ----------------------- ГЛАВНЫЕ ПОСТЫ -----------НАЧАЛО----------------------------- */
.main {
	padding: 44px 15px 11px 15px;
}
.main-post {
	display: flex;
	flex-direction: column;
	margin-bottom: 33px;
}

.main-post-image {
	flex: 1 1 381px;
		
	object-fit: cover; /*contain */
	background-color: #f4f7f6;
	margin-bottom: 16px;
}
.main-post-body::after {
	content: "";
	display: block;
	margin-top: 22px;
	border-bottom: 4px solid #eee;
}
.main-post-header {
	margin-bottom: 24px;
}
.main-post-date {
	display: inline-block;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #888888;

	text-indent: -1px;
}
.main-post-text {
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.43;
}
.upper {
	margin-bottom: 10px;
}
.author {
	display: inline-block;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 700;
	font-size: 12px;
	margin: 0 0 24px 13px;
}
.main-tags-list {
	margin-bottom: 12px;
}
.main-list-item {
	display: inline-block;
	color: #b59f5b;
}
.main-tags-link {
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 700;
	font-size: 14px;
	
	text-transform: uppercase;
	margin: 0 15px 0 0;
	letter-spacing: normal;
}
.main-tags-link:hover {
	text-decoration: underline;
	color: #a7924f;
}
.main-header-link {
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.25;
	text-transform: uppercase;
	color: black;
}
.main-header-link:hover {
	color: #b59f5b;
}
/* ! ----------------------- ГЛАВНЫЕ ПОСТЫ (MAIN) -----------КОНЕЦ----------------------------- */

/* ! --------------------------- ASIDE ---------------------НАЧАЛО----------------------------- */
.aside {
	padding: 0 15px;
	margin: 44px 0;
}

.new-posts-title {
	display: block;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	color: black;
	text-indent: 4px;
}
.new-posts-title:hover {
  color: rgb(181,159,91);
}
.new-posts-title::after {
	content: "";
	display: block;
	width: 66px;
	background-color: rgba(181,159,91,0.4);
	height: 3px;
	margin: 12px auto 28px auto;
}
.new-post {
	display: flex;
	margin: 0 0 22px 0;
}
.new-post:last-child {
	margin: 0 auto;
}

.new-post-image {
	object-fit: cover;
	flex: 0 0 70px;
	width: 70px;
	margin: 0 19px 0 0;
	background-color: #f4f7f6;
}
.new-post-date {
	display: block;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: rgba(1,1,1,0.54);

	margin: 0 0 4px 0;
}
.new-post-header {
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 1.2857;
	color: black;
}
.new-post-header:hover {
	color: #b59f5b;
}
/** ------------------------- Стилизация форм ---НАЧАЛО ------------------ */

.search-form {
	display: flex;
	margin: 60px 0 44px 0;
}
.search-field {
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: rgba(1,1,1,0.54);
	padding: 15px;
	border: 1px solid transparent;
	min-width: calc(100% - 30px - 50px);
	flex-grow: 1;
	background-color: #f4f7f6;
}
.search-field:focus {
	border-color: #b59f5b;
	outline: none;
}
.search-button {
	flex: 0 0 50px;
	background-image: url("../svg/search.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px;
	background-color: #b59f5b;
	border-style: none;
}
.search-button:hover {
	background-color: black;
	cursor: pointer;
}
.subscribe-form {
	display: flex;
	flex-direction: column;
}
.subscribe-title {
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	text-indent: -3px;
	display: block;
	text-align: center;
}
.subscribe-title:hover {
  color: rgb(181,159,91);
}
.subscribe-title::after {
	content: "";
	display: block;
	width: 66px;
	background-color: rgba(181,159,91,0.4);
	height: 3px;
	margin: 12px auto 23px auto;
}
.email-field {
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: rgba(1,1,1,0.54);
	padding: 15px;
	margin-bottom: 17px;
	border: 1px solid transparent;
	background-color: #f4f7f6;
}
.email-field:focus {
	border-color: #b59f5b;
	outline: none;
}
.subscribe-btn {
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	color: white;
	background-color: #b59f5b;
	border-style: none;
	padding: 17px 0;

	margin-bottom: 44px;
}
.subscribe-btn:hover {
	background-color: black;
	cursor: pointer;
}
/** ------------------------- Стилизация форм - КОНЕЦ ---------------------- */
.tags-block-title {
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	color: black;

	display: block;
	text-align: center;
}
.tags-block-title:hover {
  color: rgb(181,159,91);
}
.tags-block-title::after {
	content: "";
	display: block;
	width: 66px;
	background-color: rgba(181,159,91,0.4);
	height: 3px;
	margin: 12px auto 24px auto;
}
.tags-list-item {
	display: inline-block;

	margin: 0 1.5px 6px 0;
}
.tags-list-link {
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;

	color: black;
	border: 3px solid #eeeeee;

	display: block;
	box-sizing: border-box;
	padding: 6px 13.5px;
}
.tags-list-link:hover {
	border: 3px solid #b59f5b;
}
.tags-block {
	margin-bottom: 44px;
}
.categories-block-title {
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	color: black;
	text-indent: 3px;
	display: block;
	text-align: center;
}
.categories-block-title:hover {
  color: rgb(181,159,91);
}
.categories-block-title::after {
	content: "";
	display: block;
	width: 66px;
	background-color: rgba(181,159,91,0.4);
	height: 3px;
	margin: 12px auto 25px auto;
}
.categories-block {
	display: flex;
	flex-direction: column;
}
.categories-block-list {
	list-style-type: none;
}
.categories-list-item {
	border-bottom: 1px solid #eeeeee;
	padding: 15.5px 0;
}
.categories-list-item:first-child {
	padding-top: 0;
}
.sup {
	font-size: 12px;
	color: #b59f5b;
	vertical-align: 32%;
}
.categories-list-link {
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 700;
	font-size: 14px;
	display: block;
}
.categories-list-link:hover {
	color: #b59f5b;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
 } 
/* ! --------------------------- ASIDE ---------------------КОНЕЦ----------------------------- */

/* ! --------------------------НАШИ ИЗДЕЛИЯ ---------------НАЧАЛО -----------------------------*/
.products {
	display: flex;
	flex-direction: column;
	padding: 0 15px;
	margin-bottom: 43px;
	font-family: "Open Sans", Helvetica, sans-serif;
}
.products-title {
	font-family: inherit;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	color: black;
	text-indent: 3px;
	display: block;
	text-align: center;
}
.products-title::after {
	content: "";
	display: block;
	width: 66px;
	background-color: rgba(181,159,91,0.4);
	height: 3px;
	margin: 12px auto 3px auto;
}
.product-card {
	display: flex;
	flex-direction: column;
	margin-top: 24px;
}
.product-image {
	padding: 0 20px;
}
.product-image__img {
	width: 100%;
	background-color: #888888;
}
.product-body {
	border: 3px solid rgba(181,159,91,0.6);
	margin-top: -33px;
	padding: 50px 20px 27px 20px;
}
.product-title {
	font-family: inherit;
	font-weight: 700;
	font-size: 17px;
	text-transform: uppercase;
	margin-bottom: 8px;
}
.product-text {
	font-family: inherit;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.467;
	margin-bottom: 24px;
}
.product-text-link {
	color: #b59f5b;
}
.product-text-link:hover {
	text-decoration: underline;
}
.product-price-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: inherit;
}
.product-price {
	display: flex;
	font-weight: 700;
	font-size: 20px;
}
.product-price-old {
	font-size: 14px;
	text-decoration: line-through;
	margin-bottom: 1px;
}
.product-rub {
	margin-left: 0.2em;
}
.shop-button {
	font-family: inherit;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	color: white;
	background-color: #b59f5b;
	border-style: none;
	padding: 17px 28px;
}
.shop-button:hover {
	background-color: black;
	cursor: pointer;
}
/* ! --------------------------НАШИ ИЗДЕЛИЯ --------------- КОНЕЦ -----------------------------*/

/* ! ---------------------------- FOOTER ----------------- НАЧАЛО ----------------------------*/
.footer {
	background-color: #f4f7f6;
	margin: 0 15px;
}
.socials-list {
	margin: 0 0 0 4px;
	padding: 31px 0 32px 0;
	text-align: center; 
}
.socials-list-item {
	display: inline-block;
}
.socials-icon {
	display: block;
	height: 20px;
	width: 20px;
	margin-right: 30px;
}
.socials-icon__dribble {
	background-image: url("../svg/001-dribbble.svg");
}
.socials-icon__pinterest {
	background-image: url("../svg/001-pinterest.svg");
		
}
.socials-icon__tumblr {
	background-image: url("../svg/003-tumblr.svg");
	margin-right: 0;
}
/* ! ---------------------------- FOOTER ----------------- КОНЕЦ ----------------------------*/

/* ! ---------------------------- COPYRIGHT ----------------- НАЧАЛО ----------------------------*/
.copyright {
	text-align: center;
	margin: 72px 0 0 11px;
	padding-bottom: 40px;

	color: #999999;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 700;
	font-size: 12px;
}
/* ! ---------------------------- COPYRIGHT ----------------- КОНЕЦ ----------------------------*/

/** ---------------------------- Медиа для ПЛАНШЕТ-а -----------НАЧАЛО--------------------------- */
@media screen and (min-width: 641px) {

/* -------------------------------HEADER TABLET--------------------------------------- */
	.header {
		background-image: url("../images/banner-bg-tablet.jpg");
		padding: 42px 35px 126px 35px;
	}
	.header-top {
		display: flex;
		flex-direction: row-reverse;
		margin-bottom: 104px;
		justify-content: space-between;
	}
	.logo-image {
		width: 158px;
		margin: 0;
	 }
	.menu {
		align-self: center;
	}
	.header-title {
		padding: 0 44px;
		font-size: 40px;
		line-height: 1.375;
	}
/* ------------------------------НАШИ ИЗДЕЛИЯ----TABLET------------------------------- */
	.trending-title {
		font-size: 18px;
		margin-top: 40px;

		width: 100%;
	}
	.trending-title::after {
		margin: 14px auto 18px auto;
	}
	.trending-card-title {
		font-size: 17px;
		line-height: 1.29;
	}
	.trending {
		display: flex;
		flex-wrap: wrap;
		gap: 3px;
	}
	.trending-card {
		box-sizing: border-box;
		width: calc(50% - 3px/2);
		margin-bottom: 0;
	}
	/* ? ------ Медиа внутри Медиа - так можно? ------- */

	/* ? ------- Есть переполнение текстом (см. скриншот) --- --- */
   /* Получается так, что даже шестые айфоны в пейзажном режиме будут иметь по 4 карточки в ряд, что выглядит максимально коряво*/
	@media (orientation: landscape) {
		.trending-card {
			box-sizing: border-box;
			width: calc(25% - 9px/4);
			margin-bottom: 0;
		}
	}

/* ------------------------------ MAIN - ASIDE ----TABLET------------------------------- */
.content-row {
	display: flex;
	justify-content: space-between;

	padding: 50px 35px 0 35px;
}
.main-header-link {
	font-size: 17px;
	line-height: 1.29;
}	
.main-post-text {
		font-size: 15px;
		line-height: 1.467;
	}
	.main {
		padding: 0;
	}
	.main-post {
		margin-bottom: 41px;
	}
	.no-border::after {
		margin-top: 27px;
		border-bottom: 4px solid transparent;
	}
	.aside {
		padding: 0;
		margin: 0 0 0 35px;
	}
	.products {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0 35px;
	
		column-gap: 22px;
	}
	.products-title-flex {
		width: 100%;
	}
	.products-title {
		font-size: 18px;
	}
	.product-title {
		font-size: 17px;
	}
	.product-card {
		box-sizing: border-box;
		width: calc(50% - 22px/2);
	}
	.product-body {
	flex-grow: 1;
	}
	.footer {
		margin: 0 35px;
	}


    /** .......................POPUP-TABLET.....НАЧАЛО.....POPUP-TABLET....................... */
	 .popup-title {
		font-size: 18px;
	 }
	 .popup-content {
		padding: 55px 30px 55px 30px;
	 }
	 .popup-select {
		padding-right: 160px;
	 }
	 .popup-textarea {
		height: 130px;
		padding: 20px;
		margin-bottom: 25px;
	}
	.input-hint {
		max-width: 320px;
	}
	/** .......................POPUP-TABLET.....КОНЕЦ.....POPUP-TABLET....................... */
	

/** ---------------------------- Медиа для ПЛАНШЕТ-а -----------КОНЕЦ--------------------------- */
}
/** ---------------------------- Медиа для ДЕСКТОП-а -----------НАЧАЛО--------------------------- */
@media screen and (min-width: 1200px) {

	.container {
		max-width: 1200px;
	}
	.header {
		background-image: url("../images/banner-bg.jpg");
		padding: 45px 15px 145px 15px;	
	}
	.header-top {
		margin: 0 auto 140px auto;
	}
	.menu-list {
		display: block;
	}
	.menu-burger {
		display: none;
	}
	.menu-list-item {
		display: inline-block;
		margin-left: 31px;
		color: #fff;
	}
	.menu-list-item:first-child {
		margin-left: 0;
	}
	.menu-link {
		font-family: "Open Sans", Helvetica, sans-serif;
		font-weight: 400;
		font-size: 13px;
		text-transform: uppercase;
	}
	.menu-link:hover {
		border-bottom: 1px solid #fff;
	}
	.logo-image {
		width: 179px;
	}
	 .header-title {
		font-size: 45px;
		line-height: 1.67;
		margin: 0 auto;

		max-width: 690px;
	}
	.content-row {
		padding: 64px 15px 0 15px;
		margin: 0 auto;
	}
	.main-post {
		display: flex;
		flex-direction: row;
		margin: 0 120px 60.5px 0;
	}
	.main-post-image {
		flex-shrink: 0;   /* сделал чтобы сетка не ломалась если картинка не прогрузилась */
		margin: 0;
	}
	.main-post-body {
		margin: 0 0 0 30px;
		padding-right: 20px;
	}
	.main-post-body::after {
		display: none;
	}
	.main-post-header {

		margin-bottom: 27px;
	}
	.main-header-link {
		font-size: 20px;
		line-height: 1.2;
	}	
	.author {
		margin-bottom: 50px;
	}
	.aside {
		flex: 0 0 272px;
		margin: 0;
	}
	.products-title {
		font-size: 20px;
	}
	.product-title {
		font-size: 20px;
	}
	.products {
		margin: 0 auto 44px auto;
		padding: 0 15px;
		column-gap: 65px;
	}
	.product-card {
		box-sizing: border-box;
		width: calc(33.33% - 130px/3);
	}
	.footer {
		margin: 0 auto;
		width: 100%;
	}
	.copyright {
		margin: 72px auto 0 auto;
	}
	/** .......................POPUP-DESKTOP.....НАЧАЛО.....POPUP-DESKTOP....................... */
	.popup-title {
		font-size: 20px;
	 }
	/** .......................POPUP-DESKTOP.....КОНЕЦ.....POPUP-DESKTOP....................... */

/** ---------------------------- Медиа для ДЕСКТОП-а -----------КОНЕЦ--------------------------- */
}

